.accordion-title {
    margin-bottom: 2px;
    margin-right: 1px;
    cursor: pointer;
    cursor: hand;
    padding: 10px;
    background: #eee;
    display: block;
}

.accordion-radio:checked + .accordion-title {
    background: #fcfcfc;
    color: #aaa;
}
.accordion-radio {
    display: none;
}
.accordion-content {
    display: none;
    width: 100%;
}

.accordion-radio:checked + label + .accordion-content {
    display: block;
}

/**
 * For large screens
 * wide screens >= 768 pixel width
 */
@media screen and (min-width: 768px) {
    .accordion {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .accordion-title {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }
}